In [4]:

a = """
create table cities as
select 38 as latitude, 122 as longitude, "Berkeley" as name union
select 42,             71,               "Cambridge"        union
sect 45,             93,               "Minneapolis";
""".split("\n")

In [5]:
a

['',
 'create table cities as',
 'select 38 as latitude, 122 as longitude, "Berkeley" as name union',
 'select 42,             71,               "Cambridge"        union',
 'sect 45,             93,               "Minneapolis";',
 '']